.icons{
  color: #822230;
  font-size:larger;
}
.bg{
  background-color: #3d0f1642;  
}

.navbar-toggler {
    background-color: #3d0f16d4;
    margin-top: 1rem;
}
.navbar-toggler:focus{
  box-shadow: none;
}

.card{
  width: 18rem;
}
.card-img{
  width: 8rem;
  height:8rem;
  margin-left: auto;
  margin-right: auto;
}
.btnPrimary{
  background-color: #822230;
  color: #e0bec3fd;
}
.nav-item:hover {
  filter: brightness(250%);
}
.navbar-brand:hover{
  filter: brightness(50%);
}

/* .contact:hover{
  filter: brightness(250%)!important;
} */